textarea#sugerencias {
    width: 30%;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    text-align: left;
    
}
input{
width: 200px;
height: 20px;

}
select{
width: 200px;
height: 30px;

}
body{
font-size: 12;
font-family:  Calibri;
background-color: rgb(200, 177, 177);
text-align: center;
}
.home{

font-size: 14;
color: black;
}

.fondo{
background-color: grey;
width: 10%;
height: 25px;
}